/* Estiliza a seção de Certificados */
#Certificates {
    padding: 100px 50px; /* Adiciona preenchimento de 100px acima e abaixo, e 50px nas laterais */
    background-color: #2c2c2e; /* Define a cor de fundo da seção */
    color: #DCDCDC; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto dentro da seção */
    border-radius: 20px; /* Arredonda os cantos da seção */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao redor da seção */
    max-width: 98%; /* Define a largura máxima da seção */
    margin: 50px auto; /* Adiciona uma margem de 50px acima e abaixo e centraliza a seção horizontalmente */
}

/* Estiliza o título da seção de Certificados */
#Certificates h2 {
    font-size: 2.5rem; /* Define o tamanho da fonte do título */
    margin-bottom: 30px; /* Adiciona uma margem inferior de 30px ao título */
    color: white; /* Define a cor do título como branca */
}

/* Define o estilo geral do swiper */
.swiper {
    width: 100%; /* Define a largura do swiper para ocupar 100% do elemento pai */
    height: 100%; /* Define a altura do swiper para ocupar 100% do elemento pai */
}

/* Estiliza cada slide do swiper */
.swiper-slide {
    display: flex; /* Define o layout do slide como flexível */
    justify-content: center; /* Centraliza horizontalmente o conteúdo dentro do slide */
    align-items: center; /* Centraliza verticalmente o conteúdo dentro do slide */
}

/* Efeito de transformação ao passar o mouse sobre a imagem do slide */
.swiper-slide img:hover {
    transform: scale(1.05); /* Aumenta o tamanho da imagem em 5% ao passar o mouse */
    transition: transform 0.3s ease; /* Define a transição suave para o efeito de transformação */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    #Certificates {
        padding: 50px 20px; /* Reduz o preenchimento da seção para 50px acima e abaixo e 20px nas laterais em telas pequenas */
    }

    #Certificates h2 {
        font-size: 2rem; /* Reduz o tamanho da fonte do título para 2rem em telas pequenas */
    }
}