/* Section Styling for Developments */
#Developments {
    padding: 100px 50px;
    background-color: #2c2c2e;
    color: #DCDCDC;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 98%;
    margin: 50px auto;
}

#Developments h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: white;
}

h3 {
    font-size: 1.8em;
    color: #00BCD4;
}
#Developments a {
    color: #4CAF50; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

#Developments a:hover {
   color: aqua;
}

.project {
    margin-bottom: 50px;
}

.project img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}


.project-content p {
    font-size: 1rem;
    color: #aaa;
    line-height: 1.6;
    max-width: 600px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .project-content {
        flex-direction: column; /* Empilha em coluna em telas menores */
        align-items: center; /* Centraliza os itens */
        text-align: center; /* Centraliza o texto */
    }

    .project img {
        max-width: 100%; /* Imagem ocupa toda a largura em telas pequenas */
    }

    .project-details {
        flex-direction: column; /* Para telas pequenas, empilha descrição, tecnologias e links */
    }
}
