/* Section Styling for Introduction */
#Introduction {
  padding: 100px 50px; /* Espaçamento interno (padding) para criar espaço ao redor do conteúdo */
  background-color: #2c2c2e; /* Cor de fundo da seção, em tom escuro */
  color: #DCDCDC; /* Cor do texto para combinar com a paleta */
  text-align: center; /* Centraliza o texto dentro da seção */
  border-radius: 20px; /* Bordas arredondadas para um visual mais suave */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave ao redor da seção para dar destaque */
  max-width: 98%; /* Define uma largura máxima da seção */
  margin: 50px auto; /* Centraliza o conteúdo na página, com margem superior e inferior */
}

#Introduction h2 {
  font-size: 2.5rem; /* Tamanho da fonte para o título da seção */
  margin-bottom: 30px; /* Espaçamento abaixo do título */
  color: white; /* Cor do título, para se destacar do fundo escuro */
}

#Introduction p {
  font-size: 1.2rem; /* Tamanho da fonte para o parágrafo */
  color: #aaa; /* Cor do texto do parágrafo */
  line-height: 1.6; /* Altura da linha para melhorar a legibilidade */
  max-width: 100%; /* Garante que o parágrafo não ultrapasse a largura máxima da seção */
  margin: 0 auto; /* Centraliza o parágrafo dentro da seção */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  #Introduction {
      padding: 50px 20px; /* Reduz o padding em telas menores para melhor ajuste */
  }

  #Introduction h2 {
      font-size: 2rem; /* Reduz o tamanho da fonte do título em telas menores */
  }

  #Introduction p {
      font-size: 1rem; /* Reduz o tamanho da fonte do parágrafo em telas menores */
  }
}
